:root {
    /* 8-grid spacing for between elements */
    --spacing-sm: 8px;
    --spacing-md: 16px;
    --spacing-lg: 24px;
    --spacing-xl: 32px;
    --spacing-xxl: 48px;
    --spacing-xxxl: 64px;
    /* Colors */
    --light-gray: #b5aaaa;
    --gray: #7D7878;
    --red-gray: #a53463;
    --dark-gray: #514747;
}

html, body {
    width: 100%;
    height: 100%;
    background-color: #161616;   
    color: white;
    padding: 0;
    margin: 0 auto;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    line-height: 1.3;
}

h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
}

h3, h4, h5 {
    font-weight: 300;
}

h1 {
    font-size: 3.052rem;
    color: var(--light-gray);
}

h2 {font-size: 2.441rem;}

h3 {
    font-size: 1.953rem;
    line-height: 1.5em;
    color: var(--gray);
}

h4 {
    font-size: 1.563rem;
    color: var(--red-gray);
}

h5 {
    font-size: 1.25rem;
    color: var(--dark-gray);
    font-weight: normal;
}

#container {
    /* Aligns header and other elements to the center */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#container > * {
    /* Keep padding and margins on the sides for inner containers (header, projects, etc.) */
    width: 80%;
    max-width: 800px;
    margin-bottom: var(--spacing-xxxl);
}

#bg-container {
    /* Holds the background gradient behind the hook (h1 in header) text */
    width: 100%;
    height: 90%;
    position: absolute;
    background: radial-gradient(26.68% 26.68% at 49.05% 35.49%, rgba(255, 0, 102, 0.3) 0%, rgba(25, 21, 21, 0) 100%) #161616;
    background-size: 200% 150%;
    padding: var(--spacing-md);
    background-position: top;
}

header {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 8rem;
}

header > *:not(#bg-container) {
    /* Background goes behind elements! */
    z-index: 1;
}

#diamond {
    height: 1.5rem;
    width: 1.5rem;
    transform: rotate(-45deg);
    background-color: #FF0066;

     /* Account for rotated square in div */
    margin-bottom: calc(var(--spacing-md) / 1.3);
}

#project-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-lg);
}

.project-card {
    display: flex;
    gap: var(--spacing-xxl);
}

.project-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--spacing-sm);
}

.project-card-title a {
    color: inherit;
    text-decoration: none;
}

.project-card-title:hover {
    text-decoration: underline;
    cursor: pointer;
}

.project-card-img {
    max-height: 200px;
    max-width: 300px;
    aspect-ratio: 16 / 9;
    object-position: center top;
    object-fit: cover;
    border-radius: 0.25rem;
}

.project-link-icons {
    display: flex;
    gap: var(--spacing-sm);
    margin-left: calc(var(--spacing-sm) / 2);
}

.project-link-icons i {
    color: white;
}

.project-link-icons i:hover {
    color: var(--light-gray);
    cursor: pointer;
}

footer {
    /* padding: 2em; */
    width: 100%;
    font-size: 32px; /* Fixed size, as on small screens 32px is not too large */
    display: flex;
    gap: var(--spacing-xl);
    justify-content: center;
}

footer > * {
    /* All icons have a fill-in gradient on hover */
    background: -webkit-linear-gradient(white 50%, gray 50%);
    background-size: 200% 200%;
    background-position: top;
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.75s;
}

footer > *:hover {
    cursor: pointer;
    background-position: 100% 100%;
}

@media only screen and (max-device-width: 600px) {
    html {
        font-size: 10px;
    }
    .project-card {
        flex-wrap: wrap;
        gap: var(--spacing-md);
    }
}

@media only screen and (max-device-width: 1000px) {
    #container {
        background-size: 150% 75%;
    }
}